/* Extend Login.css */

select {
    border-radius: 3px;
    border: 1px solid #384049;
    background: #15171b;
    width: 104%;
    transition: all 0.3s ease;
    font-size: 1.2em;
    line-height: 1;
    padding: 0.3em 0.4em;
    margin: 0 0.5em 0.5em 0;
    color: #949496;
    display: block;

}

label {
    color: #949496;
    font-size: 1.2em;
    font-weight: 600;
    /* line-height: 1; */
    /* padding: 0.3em 0.4em; */
    /* margin: 0 0.5em 1em 0; */
    /* width: 100%; */

}

